body {
    margin: 0;
    padding: 0;
}
.area {
    width: 600px;
    height: 480px;
    border: 1px solid #999;
    position: absolute;
}
.shadow {
    width: 90%;
    height: 80%;
    position: absolute;
    top: 5px;
    left: 35px;
    background: grey;
}
.paper {
    width: 90%;
    height: 80%;
    border: 1px solid #999;
    position: absolute;
    top: 8px;
    left: 30px;
    background: white;
    cursor: crosshair;
}
.menu {
    width: 90%;
    height: 15%;
    border: 1px solid #999;
    position: absolute;
    top: 400px;
    left: 30px;
}
.platno {
    width: 90%;
    height: 80%;
    border: 1px solid #999;
    position: absolute;
    top: 8px;
    left: 30px;
    background: white;
    cursor: crosshair;
}
.newbtn {
    cursor: pointer;
}
.clrbtn {
    cursor: pointer;
    height: 25px;
    width: 25px;
}
.colors {
    padding: 5px;
    width: 175px;
    border: 1px solid #999;
    position: absolute;
    top: 5px;
    left: 345px;
}
.palette {
    top: 3px;
    left: 50px;
    padding: 0px;
    position: absolute;
}
.outerSquare {
    border: 1px solid #999;
    width: 30px;
    height: 30px;
    position: relative;
    top: 0px;
    left: 5px;
}
.innerSquare {
    border: 1px solid #999;
    width: 24px;
    height: 24px;
    background: black;
    align-content: center;
    left: 2px;
    top: 2px;
    position: absolute;
}
.colorText {
    padding: 0;
    margin: 0;
    cursor: default;
    -moz-user-select: none;
    -webkit-user-select: none;
}